In [1]:
import "github.com/ptiger10/pd"
import "time"

# Constructor

In [2]:
t1 := time.Date(2019, 1, 1, 0,0,0,0,time.UTC)
t2 := t1.AddDate(0,0,1)
t3 := t2.AddDate(0,0,1)
pd.DataFrame([]interface{}{
    []float64{1.5, 2.5, 3},
    []int64{1,2,3},
    []string{"foo", "bar", "baz"},
    []bool{true, true, false},
    []time.Time{t1, t2, t3},
    []interface{}{"A", 1, false},
})

        0  1    2      3                  4      5
0    1.50  1  foo   true  1/1/2019T00:00:00      A
1    2.50  2  bar   true  1/2/2019T00:00:00      1
2    3.00  3  baz  false  1/3/2019T00:00:00  false

<nil>

In [3]:
import "github.com/ptiger10/pd/options"
pd.DataFrame(
    []interface{}{
        []float64{1.5, 2.5, 3},
        []int64{1,2,3},
    },
    pd.Config{DataType: options.Float64},
)

        0     1
0    1.50  1.00
1    2.50  2.00
2    3.00  3.00

datatype: float64

<nil>

In [4]:
pd.DataFrame(
    []interface{}{
        []string{"foo","bar"},
    },
    pd.Config{Name: "baz"},
)

       0
0    foo
1    bar

datatype: string
name: baz

<nil>

In [5]:
pd.DataFrame(
    []interface{}{
        []string{"foo","bar"},
    },
    pd.Config{Index: []string{"baz", "qux"}},
)

         0
baz    foo
qux    bar

datatype: string

<nil>

In [6]:
pd.DataFrame(
    []interface{}{
        []string{"foo"},[]string{"bar"},
    },
    pd.Config{Col: []string{"baz", "qux"}},
)

     baz  qux
0    foo  bar

datatype: string

<nil>

In [7]:
// Equivalent to the cell above for single-value columns, but less verbose
pd.DataFrame(
    []interface{}{"foo","bar"},
    pd.Config{Col: []string{"baz", "qux"}},
)

     baz  qux
0    foo  bar

datatype: string

<nil>

### MultiIndex and MultiCol

In [8]:
pd.DataFrame(
    []interface{}{
        []string{"foo","bar"},
        []string{"baz","qux"},
    },
    pd.Config{MultiIndex: []interface{}{
        []string{"quux", "quuz"},
        []string{"corge", "fred"},
    }},
)

                0    1
quux corge    foo  baz
quuz  fred    bar  qux

datatype: string

<nil>

In [9]:
pd.DataFrame(
    []interface{}{
        []string{"foo","bar"},
        []string{"baz","qux"},
    },
    pd.Config{MultiCol: [][]string{
        []string{"quux", "quuz"},
        []string{"corge", "fred"},
    }},
)

      quux  quuz
     corge  fred
0      foo   baz
1      bar   qux

datatype: string

<nil>

## Modify

In [10]:
df, _ := pd.DataFrame([]interface{}{"foo","bar"})
df.InPlace

{InPlace DataFrame Handler}
Methods:
AppendCol
AppendRow
Convert
DropCol
DropCols
DropDuplicates
DropNull
DropRow
DropRows
InsertCol
InsertRow
Len
ResetIndex
Set
SetCol
SetCols
SetIndex
SetRow
SetRows
String
SubsetColumns
SubsetRows
SwapColumns
SwapRows
ToBool
ToDateTime
ToFloat64
ToInt64
ToInterface
ToString

In [11]:
df, _ := pd.DataFrame([]interface{}{[]string{"foo", "bar"}})
df.InPlace.SwapRows(0,1)
df

       0
1    bar
0    foo

datatype: string

In [12]:
df, _ := pd.DataFrame([]interface{}{[]string{"foo", "bar"}})
df.InPlace.InsertRow(1,[]interface{}{"baz"}, 2)
df

       0
0    foo
2    baz
1    bar

datatype: string

In [13]:
df, _ := pd.DataFrame([]interface{}{[]string{"foo", "bar"}})
df.InPlace.InsertRow(1,[]interface{}{"baz"})
df

       0
0    foo
1    baz
2    bar

datatype: string

In [21]:
df, _ := pd.DataFrame([]interface{}{"foo", "bar"})
s, _ := pd.Series("baz")
df.InPlace.InsertCol(1, s)
df

       0    1    2
0    foo  baz  bar

datatype: string

In [24]:
df, _ := pd.DataFrame([]interface{}{"foo", "bar"})
s, _ := pd.Series("baz")
df.InPlace.InsertCol(1, s, "10")
df

       0   10    1
0    foo  baz  bar

datatype: string

In [17]:
df, _ := pd.DataFrame([]interface{}{[]string{"foo", "bar"}})
df.InPlace.AppendRow([]interface{}{"baz"}, 2)
df

       0
0    foo
1    bar
2    baz

datatype: string

In [18]:
df, _ := pd.DataFrame([]interface{}{
    []string{"foo", "bar"}, 
    []string{"qux", "quux"},
})
df.InPlace.SetRow(1, "baz")
df

       0    1
0    foo  qux
1    baz  baz

datatype: string

In [27]:
import "strings"
df, _ := pd.DataFrame([]interface{}{
    []string{"foo", "bar"}, 
    []string{"qux", "quux"},
})
df.InPlace.SetCol(1, df.Col("1").Apply(func(val interface{}) interface{}{
    return strings.ToUpper(val.(string))
}))
df

       0     1
0    foo   QUX
1    bar  QUUX

datatype: string

In [28]:
df, _ := pd.DataFrame([]interface{}{
    []string{"foo", "bar"}, 
    []string{"qux", "quux"},
})
df.InPlace.DropRow(1)
df

       0    1
0    foo  qux

datatype: string

In [29]:
df, _ := pd.DataFrame([]interface{}{
    []string{"foo", "bar"}, 
    []string{"qux", "quux"},
})
df.InPlace.DropCol(1)
df

       0
0    foo
1    bar

datatype: string

In [30]:
df, _ := pd.DataFrame(
    []interface{}{
        []string{"foo", "foo", "baz"}, 
        []string{"qux", "qux", "quuz"},
    },
    pd.Config{Index: []string{"fred", "fred", "waldo"}},
)
df.InPlace.DropDuplicates()
df

           0     1
 fred    foo   qux
waldo    baz  quuz

datatype: string

## Select

In [31]:
df, _ := pd.DataFrame(
    []interface{}{
        []string{"foo", "bar"}, 
        []string{"qux", "quux"},
    },
    pd.Config{Col: []string{"A", "B"}},
)

df.Col("B")

0     qux
1    quux

datatype: string
name: B

In [32]:
df, _ := pd.DataFrame(
    []interface{}{
        []int{1, 3, 5}, 
        []int{2, 4, 6},
    },
    pd.Config{Col: []string{"A", "B"}},
)

df.Set("B", df.Col("B").ToFloat64())

     A     B
0    1  2.00
1    3  4.00
2    5  6.00

## Grouping

In [34]:
df, _ := pd.DataFrame(
    []interface{}{
        []string{"foo", "foo", "bar", "bar"}, 
        []string{"corge", "corge", "corge", "qux"},
        []int{1, 3, 5, 7},
        []int{2, 4, 6, 8},
    },
    pd.Config{Col: []string{"A", "B", "C", "D"}},
)
df

       A      B  C  D
0    foo  corge  1  2
1    foo  corge  3  4
2    bar  corge  5  6
3    bar    qux  7  8

In [36]:
a := df.SelectCol("A")
df.GroupBy(a).Sum()

           C      D
foo     4.00   6.00
bar    12.00  14.00

datatype: float64

In [37]:
b := df.SelectCol("B")
df.GroupBy(b, a).Sum()

                C     D
corge foo    4.00  6.00
      bar    5.00  6.00
  qux        7.00  8.00

datatype: float64

## Pivot

In [38]:
df, _ := pd.DataFrame(
    []interface{}{
        []string{"foo", "foo", "bar", "bar"}, 
        []string{"corge", "corge", "corge", "qux"},
        []int{1, 3, 5, 7},
                []int{2, 4, 6, 8},
    },
    pd.Config{Col: []string{"A", "B", "C", "D"}},
)
df

       A      B  C  D
0    foo  corge  1  2
1    foo  corge  3  4
2    bar  corge  5  6
3    bar    qux  7  8

In [43]:
df.Pivot(0, 2, 1, "mean")

       corge   qux
foo     2.00   NaN
bar     5.00  7.00

datatype: float64

<nil>

In [42]:
df.Pivot(0, 3, 1, "sum")

       corge   qux
foo     6.00   NaN
bar     6.00  8.00

datatype: float64

<nil>

## From/To CSV

In [52]:
df, _ := pd.ReadCSV("sample.csv", pd.ReadOptions{HeaderRows: 1, IndexCols: 1})
df

          dogs  cats  iguanas  category
sandra      10    20       15   teacher
 janet      10     4        5   teacher
  elon       4     3        4   teacher
  john       6     1        8   student
  jeff       2     5       19   student
  rose      40    29        5   student

In [47]:
df.Sum()

   dogs    72.00
   cats    62.00
iguanas    56.00

datatype: float64
name: sum

In [48]:
df.GroupBy(df.SelectCol("category")).Median().ExportToCSV("output.csv")

In [53]:
df.InPlace.Set("dogs", df.Col("dogs").Apply(func(val interface{}) interface{} { return val.(int64)*2}))
df

          dogs  cats  iguanas  category
sandra      20    20       15   teacher
 janet      20     4        5   teacher
  elon       8     3        4   teacher
  john      12     1        8   student
  jeff       4     5       19   student
  rose      80    29        5   student

In [54]:
df.ExportToCSV("output_sample.csv")